@media only screen and (max-width:900px){
    #sliderwomen{
        grid-template-columns: repeat(2,1fr);
        row-gap: 10px;
    }
    #slidermen{
        grid-template-columns: repeat(2,1fr);
        row-gap: 10px;
    }
    #sliderjacket{
        grid-template-columns: repeat(2,1fr);
        row-gap: 10px;
    }

}

#slideshow{
    margin-top: 25px;
    width: 100%;
    /* height:450px ; */
    /* border: 2px solid red; */
    margin-top: 50px;
  }
  #slideshow img{ 
    width: 100%;
    height: 100%;
  }