h1 {
  margin-top: 70px;
  text-align: center;
  font-family: sans-serif;
}
.redirectY {
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  width: 400px;
  font-size: large;

  margin: auto;

  margin-bottom: 20px;

  font-family: sans-serif;
}
.redirectY a {
  color: black;
  margin-top: 18px;
}
#ptagY {
  text-align: left;
  margin-left: 2%;
}
.parentY {
  /* border: 1px solid red; */

  display: flex;
  width: 60%;
  margin-left: 25%;
  gap: 40px;
}
.parentY > div {
  display: flex;
  flex-direction: column;
  width: 40%;
}
/* .parentY > div {
  border: 1px solid black;
} */

.newY {
  font-family: sans-serif;
}
.newY button {
  background-color: black;
  color: white;
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  font-size: 15px;
}
.newY button:hover {
  background-color: rgb(126, 196, 126);
  border: none;
  font-size: 20px;
}
form {
  text-align: center;
}
form > input {
  width: 90%;
  margin: auto;
  font-size: 15px;
  padding: 8px;
  margin-top: 10px;
  margin-right: 10px;
}

#submitY {
  background-color: black;
  color: white;
  border-radius: 5px;

  margin-top: 10px;
  font-size: 15px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 12px;
}
#submitY:hover {
  background-color: rgb(126, 196, 126);
  border: none;
  font-size: 20px;
}
.buttonsY > button {
  margin-top: 10px;
  color: black;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.buttonsY > button:nth-child(1) {
  background-color: #3b5998;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 15px;
}

.buttonsY > button:nth-child(2) {
  padding: 12px;
  margin-bottom: 50px;
  background-color: #ef534e;
  font-size: 15px;
  text-align: center;
  color: white;
}

@media (max-width: 400px) {
  .parentY {
    flex-direction: column;
    margin-left: 40%;
  }
}
@media (max-width: 900px) {
  .parentY {
    flex-direction: column;
    margin-left: 40%;
  }
}
