body{
    box-sizing: border-box;
}

#product_layout{
    display: flex;
    /* border: solid 2px blue; */
    width: 100%;
    margin-top: 40px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: flex-start;
    
}

#ProductContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 35px;
    row-gap: 30px;
    /* border: solid 2px red; */
    width: 75%;
    margin: auto;
}



#filter_product{
    width: 20%;
   margin: 0px 10px 0px 25px;
    justify-content: center;
    height: 500px;
    border-radius: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 4px;
    position: sticky;
    top: 50px;
    /* border: solid 2px red; */
    left: 10px;
    
}

#filter_product>div{
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


img{
  
    width: 100%;
}
#cart {
    margin-right: 30px;
    background-color:black;
    color: white;
}

#tag {
    background-color:white;
    color: black;
}
#filterby input {
     display: block;
}
@media only screen and (min-width:500px) and (max-width:900px){
    #ProductContainer{
        grid-template-columns: repeat(2,1fr);

    }
}
@media only screen and (max-width:500px){
    #ProductContainer{
        grid-template-columns:repeat(1,1fr) ;
    }
}
#filter-btn{
    background-color: black;
    color: white;
    width: 60px;
}

