body {
    padding: 0px;
    margin: 0px;
}
 /* .navbar {
        height: 50px;
        display: flex;
        justify-content: space-between;
        padding-left: 32px;
        padding-right: 80px;
        padding-top: 10px;
        box-sizing: border-box; */
        /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
        /* padding-top: 10px; */
        /* align-items:center ;
        
    } */
    .navbar {
        height: 50px;
        display: flex;
        justify-content: space-between;
        padding-left: 32px;
        padding-right: 80px;
        padding-top: 10px;
        box-sizing: border-box;
        /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
        /* padding-top: 10px; */
        align-items:center ;
        /* position: sticky;
        top: 0px;
        background-color: white; */
    }
    .navbar>div a{
        margin-left: 20px;
        text-decoration: none;
    }
    .navbar img {
        height: 40px;
    }
    .nav {
        height: 40px;
        display: flex;
        justify-content: left;
        padding-left: 30px;
        padding-right: 50px;
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        /* padding-top: 10px; */
        align-items:center ;
    }
    .nav>div>a span {
        font-size: 10px;
    }
    .nav>div a {
        margin-right: 5px;
    }
    .margin {
        margin-right: 290px;
    }
    
    .nav1 {
        padding-left: 20px;
        margin-right: 250px;
    }
    .nav2 {
        margin-right: 360px;
    }
    .nav3 {
        border: none;
    }
    /* .banner{
        margin-left: 10%;
    } */
    /* .banner img {
    width: 100%;
    height: 300px;
    margin: auto;
    margin-top: 10px;
    } */
    .women {
        margin-left: 10px;
    }
   .women>p {
        font-family:sans-serif;
        font-size:40px
    }
    #sliderwomen{
        /* border: solid 2px red; */
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        /* flex-wrap: wrap; */
        /* box-sizing: border-box; */
        column-gap: 20px;
    }
    #sliderwomen>div>img{
        width: 100%;

    }
    .zoom {
       
        transition: transform .2s; 
        
      }
      
      .zoom:hover {
        transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }
    #slidermen {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 20px;

    }
    #slidermen>div>img{
        width: 100%;

    }
    .men {
        margin-left: 10px;
    }
   .men>p {
        font-family:sans-serif;
        font-size:40px
    }
    
    .jackets {
        font-family:sans-serif;
        text-align: center;
        font-size: 40px;
    }
    .small {
        font-family:sans-serif;
        font-size: 20px;
        text-align: center;
        text-decoration: underline;

    }
    #sliderjacket {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 20px;

    }
    #sliderjacket>div>img{
        width: 100%;

    }
    #sliderjacket p{
        font-size: 10px;
    }


    /* DropDown  Css*/
    .dropdown {
        float: left;
        overflow: hidden;
    }
    
    /* .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: rgb(21, 21, 21);
        padding: 14px 16px;
        background-color: inherit;
        font: inherit;
        font-size: 20px;
        margin: 0;
        border: 2px solid red;
    } */
    
    .underScore:hover {
        text-decoration: underline;
        
    }
  
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 100%;
        left: 0;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        z-index: 1;
        /* border: 2px solid red; */
    }
    .dropdown:hover .dropdown-content {
        display: block;
        /* border: 2px solid red; */
    }
    .dropdown_image{
        /* border: 2px solid red; */
        width: 30%;
    }
    
    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        /* width: 35%; */
        padding: 10px;
        background-color: #ffffff;
        height: 800px;
        /* border: 2px solid red; */
    }
 
    .column a {
        float: none;
        color: black;
        padding: 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        /* border: 2px solid red; */
    }
    .column h3 {
        /* border: 2px solid red; */
        margin-left: 27px;

    }
    
    .column a:hover {
        background-color: #ddd;
    }

    /* SLIDE SHOW */
    #slideshow{
        /* margin-top: 20px;
        margin-bottom: 20px; */
        width: 95%;
        margin: auto;
        height:300px ;
        /* border: 2px solid red; */
      }
      #slideshow img{ 
        width: 100%;
      }

    @media only screen and (max-width:1160px){
        .nav{
            display: none;
        }

    }
   @media only screen and (max-width:800px){
    #media {
        display: none;
    }
   }



























    .container {
        max-width: 1170px;
        margin: auto;
        
    }
    
    
    .row {
        display: flex;
        flex-wrap: wrap;
        
        
    }
    .footer {
        background-color:rgb(211, 221, 230);
        box-sizing: border-box;
        padding: 50px 80px;
        font-family: Montserrat;
    }
    
    a {
        text-decoration: none;
        color: rgb(105, 129, 147);
    }
    
    ul {
        list-style:none;
        padding-left: 0px;
        
    }
    li {
        margin-bottom: 10px;
        font-size: 16px;
        text-decoration: none;
        color: rgb(105, 124, 147);
        
        
    }
    
    .footer-col {
        width: 24%;
        padding:0px 5px; 
    }
    
    .footer-col h4 {
        font-size: 18px;
        margin-bottom: 40px;
    }
    
    .footer-col ul li a{
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: rgb(20, 15, 52);
        padding-left: 10px;
    }
    .footer-2{
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .social-links {
        margin-right: 20px;
        margin-top: 40px;
    
    }
    .social-links a {
        margin-right: 20px;
        margin-top: 40px;
        transition: all 0.3s ease;
    
    }
    .social-links a:hover {
        color: black;
        padding-left:5px ;
        
    }
    
    .copyright {
        margin-left: 500px;
        margin-top: 30px;
        
    }
    
    /* responsive */
    
    @media(max-width:800px) {
        .footer-col {
            width: 50%;
            margin-bottom: 30px;
        }
    }
    
    @media(max-width:400px) {
        .footer-col {
            width: 100%;
            margin-bottom: 30px;
        }
    }